@using Shared.WebExtensions;
@model DigitalSignatureViewModel

<div class="alert alert-danger d-none" id="danger-wrapper" aria-labelledby="danger-header">
	<strong id="danger-header">Error</strong>
	<div class="danger" id="danger-message"></div>
</div>

<div class="alert alert-warning d-none" id="warning-wrapper" aria-labelledby="warning-header">
	<strong id="warning-header">Warning</strong>
	<div class="warning" id="warning-message"></div>
</div>

<form id="wrapper-digital-signature">
	<fieldset class="form-group" aria-labelledby="key-type-label">
		<legend class="col-form-label pt-0" id="key-type-label">Тип ключа</legend>
		<div role="group" aria-labelledby="key-type-label">
			<select id="key-type-select" class="custom-select spinner-disabled">
				<option value="soft">Програмний (файл)</option>
				<option value="hard">Апаратний (захищений носій)</option>
			</select>
		</div>
	</fieldset>
	<label class="col-form-label pt-0" id="spinner-init">
		<span class="spinner-grow spinner-grow-sm text-info" role="status"></span>
		Подождите, загружаем библиотеку ЭЦП
	</label>
	<div id="soft-key-ui">
		<label class="col-form-label pt-0 d-none" id="spinner-soft">
			<span class="spinner-grow spinner-grow-sm text-info" role="status"></span>
			Подождите, проверяем центр сертификации
		</label>
		<fieldset class="form-group d-none" id="key-ca-fieldset" aria-labelledby="key-ca-label">
			<legend class="col-form-label pt-0" id="key-ca-label">Центр сертификации</legend>
			<div role="group" aria-labelledby="key-ca-label">
				<select id="key-ca" class="custom-select spinner-disabled">
				</select>
			</div>
		</fieldset>
		<fieldset class="form-group" aria-labelledby="file-private-key-label">
			<legend class="col-form-label pt-0" id="file-private-key-label">Приватний ключ</legend>
			<div class="custom-file">
				<input type="file" class="custom-file-input spinner-disabled" id="file-private-key" aria-labelledby="file-private-key-label">
				<label class="custom-file-label" id="file-private-key-hint" for="file-private-key">Оберіть файл приватного ключа</label>
			</div>
		</fieldset>
		<fieldset class="form-group d-none" id="file-certificat-label-fieldset" aria-labelledby="file-certificat-label">
			<legend class="col-form-label pt-0" id="file-certificat-label">Сертіфікат</legend>
			<div class="custom-file">
				<input type="file" multiple="multiple" name="files[]" class="custom-file-input spinner-disabled text-truncate" id="file-certificat-key" aria-labelledby="file-certificat-label">
				<label class="custom-file-label" id="file-certificat-key-hint" for="file-certificat-key">Оберіть файл сертіфікату</label>
			</div>
		</fieldset>
	</div>
	<div id="hard-key-ui" class="d-none">
		<label class="col-form-label pt-0 d-none" id="spinner-hard">
			<span class="spinner-grow spinner-grow-sm text-info" role="status"></span>
			Подождите, загружаем перечень носителей
		</label>
		<fieldset class="form-group" id="hardware-key-fieldset" aria-labelledby="hardware-key-label">
			<legend class="col-form-label pt-0" id="hardware-key-label">Назва носія</legend>
			<div role="group" aria-labelledby="hardware-key-label">
				<div role="group" class="input-group">
					<select id="hardware-key" class="custom-select spinner-disabled" placeholder="Оберіть тип носія">
						<option value="">-</option>
					</select>
					<div class="input-group-append">
						<button id="hardware-key-refresh-devices" title="" type="button" class="btn btn-secondary spinner-disabled" data-original-title="Оновити список носіїв">
							<i class="fal fa-sync-alt"></i>Обновить
						</button>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<fieldset class="form-group" aria-labelledby="password-private-key-label">
		<legend class="col-form-label pt-0" id="password-private-key-label">Пароль захисту ключа</legend>
		<input id="password-private-key" type="password" class="form-control spinner-disabled" placeholder="Введіть пароль ключа" aria-labelledby="password-private-key-label">
	</fieldset>
	<button type="button" class="btn float-right btn-primary spinner-disabled" id="exec-digital-signature">
		<span id="spinner-sign" class="spinner-grow spinner-grow-sm d-none" role="status"></span>
		<span>Підписати</span>
	</button>
</form>
<form id="wrapper-result" class="d-none" action="@Model.ReturnUrl" method="post">
	<input type="hidden" id="signedData" Name="SignedData" value="" />
	<input type="hidden" Name="State" value="@Model.State" />
</form>

@section scripts {
	<script src="~/js/eds/bluebird.min.js" type="text/javascript"></script>
	<script src="~/js/eds/edswrapper.js?v=@Html.GetScriptNonce()" type="text/javascript"></script>
	<script type='text/javascript' nonce="@Html.GetScriptNonce()">
		window.edsModel = {
			siteRoot: '@Model.SiteRoot',
			language: '@Model.Language',
			allowStore: @Model.AllowStore.ToString().ToLower(),
			allowStoreLocal: @Model.AllowStoreLocal.ToString().ToLower(),
			debugMode: @Model.DebugMode.ToString().ToLower(),
			initialData: '@Model.InitialData',
		};
	</script>
	<script src="~/js/edsexecutor.js?v=@Html.GetScriptNonce()" type="text/javascript"></script>
}
